# Ignorer les fichiers de compilation, binaires et temporaires
/build/*.log
/build/*.obj
/build/*.pdb
/build/*.exe
/build/*.dll
/build/*.so

# Ne pas ignorer la solution Visual Studio et les projets
!/build/*.sln
!/build/*.vcxproj
!/build/*.vcxproj.user

# Si tu utilises GoogleTest précompilé, garde les fichiers .lib ou .a
!/build/*.lib
!/build/*.a

# Ignorer le dossier CMakeFiles et CMakeCache.txt
/build/CMakeFiles/
/build/CMakeCache.txt

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers temporaires d'éditeur (Emacs, Vim, etc.)
*~
.dir-locals.el
.#*
*.swp

# Dépendances externes si elles sont ajoutées manuellement
/external/
/notCmake/

# Fichiers de log et cache
*.log
*.cache
# Ignorer le dossier Visual Studio (.vs)
.vs/